<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>この度は「<%= @book.title %>」のご購入いただきありがとうございます。💛
        著者：<%= @book.author %>
        数量: <%= @order.count %>
    </p>

    
      <p>
        商品発送までお待ちくださいませ。📖
      </p>
  </body>
</html>