<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>この度はのご購入いただきありがとうございます。</h1>

      <%= image_tag @book.thumbnail %>

    
      <p>
        商品発送までお待ちくださいませ。
      </p>
  </body>
</html>